@import "fonts.scss";
@import "fonts.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  main {
    width: 100%;
    border: red 2px solid;
    .hero {
      background-size: cover;
      height: 100vh;
      padding-inline: 25px;
      background-image: url(./pictures/background\ 2.jpg);
      background-position: bottom center;
      display: flex;
      align-items: center;
      .main-title {
        font-family: "Smooch Sans", sans-serif;
        letter-spacing: 20px;
        font-size: 9rem;
        max-width: 700px;
        text-align: center;
        color: #fff;
        text-shadow: 0 0 7px #fff, 0 0 10px #e9e9e9, 0 0 21px #fff,
          0 0 42px rgb(240, 15, 221), 0 0 82px rgba(252, 98, 182, 0.986),
          0 0 92px rgb(172, 8, 131), 0 0 102px rgb(202, 11, 170),
          0 0 151px rgb(255, 0, 234);
      }
    }
  }
}
